.listitem {
  list-style: none;
}
.listitem a {
  text-decoration: none;
  color: inherit;
}
.productcontainer {
  background-color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

.imagecontainer {
  width: 100%;
}
.imagecontainer img {
  max-height: 70rem;
}

.imagecontainer img:hover {
  cursor: pointer;
  opacity: 0.2;
}

.productinfo {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.5rem;
}

.button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  z-index: 0;
  font-family: inherit;
  border-radius: 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: black;
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
