.image {
  position: relative;
  aspect-ratio: 16 / 9;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 2rem auto;
  padding: 1rem;
  width: 100%;
  max-width: 100rem;
}

.image img {
  filter: brightness(50%);
  object-fit: fill;
  object-position: top;
  width: 100%;
  height: 100%;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  background-color: black;
  color: white;
}
